<div class="browser">
    <div class="browser-navbar">
        <div class="nav-controls">
            <button id="browserBackBtn" class="btn"><i class="fas fa-arrow-left"></i></button>
            <button id="browserForwardBtn" class="btn"><i class="fas fa-arrow-right"></i></button>
            <button id="browserRefreshBtn" class="btn"><i class="fas fa-sync"></i></button>
        </div>
        <div class="address-bar">
            <i class="fas fa-lock"></i>
            <input type="text" id="browserUrl" value="https://www.google.com">
        </div>
    </div>
    <div class="browser-viewport">
        <iframe id="browserIframe" src="https://www.google.com/search?igu=1" frameborder="0"></iframe>
    </div>
</div>