<div class="paint">
    <div class="paint-toolbar">
        <input type="color" id="paintColor" value="#000000" title="Color">
        <input type="range" id="paintBrush" min="1" max="50" value="5" title="Brush Size">
        <button class="btn" id="paintClear"><i class="fas fa-trash-alt"></i> Clear</button>
        <button class="btn btn-primary" id="paintSave"><i class="fas fa-save"></i> Save</button>
    </div>
    <div class="paint-canvas-container">
        <canvas id="paintCanvas"></canvas>
    </div>
</div>